@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-600.css";
@import "@fontsource/inter/latin-700.css";
@import "@fontsource/jetbrains-mono/latin-400.css";
@import "@fontsource/jetbrains-mono/latin-700.css";
@import "@fontsource/vazirmatn/arabic-400.css";
@import "@fontsource/vazirmatn/arabic-700.css";
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

.font-farsi {
  font-family: "Vazirmatn", sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printable-area,
  #printable-area * {
    visibility: visible;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
  }
}
